body {
  background-color: lightblue;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-transform: uppercase;
  color: #c0392b;
}

h2 {
  color: #2980b9;
  margin-bottom: 10px;
}

p {
  text-transform: capitalize;
}

li {
  color: #27ae60;
  margin-bottom: 10px;
}
.kaboob {
  background-image: url('images/img2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
height: 800px;
  display: block;
  border-radius: 10px;
  box-shadow: 10px 20px 40px rgba(255, 0, 0, 0.2);
  border: 2px solid #FF0000;
}
.container {
  width: 80%;
  margin: 0 auto; /* Centers the container horizontally */
  display: grid;
  grid-template-areas:
    "heading"
    "ingredients instructions"
    "paragraph"
    "link";
  grid-template-rows: auto auto 1fr auto; /* Define the height of each row */
  grid-gap: 20px; /* Add gap between grid cells */
}

h1 {
  grid-area: heading;
}

ul {
  grid-area: ingredients;
  border: 1px solid black; /* Add a border around the ingredients box */
  padding: 10px; /* Add padding to the ingredients box */
}

ol {
  grid-area: instructions;
  border: 1px solid black; /* Add a border around the instructions box */
  padding: 10px; /* Add padding to the instructions box */
}

p {
  grid-area: paragraph;
  border: 1px solid black; /* Add a border around the paragraph box */
  padding: 10px; /* Add padding to the paragraph box */
}

a {
  grid-area: link;
  border: 1px solid black; /* Add a border around the link box */
  padding: 10px; /* Add padding to the link box */
}