body {
  background-color: lightblue;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-transform: uppercase;
  color: #c0392b;
}

h2 {
  color: #2980b9;
  margin-bottom: 10px;
}

p {
  text-transform: capitalize;
}

li {
  color: #27ae60;
  margin-bottom: 10px;
}
.kaboob {
  background-image: url('images/img2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
height: 800px;
  display: block;
  border-radius: 10px;
  box-shadow: 10px 20px 40px rgba(255, 0, 0, 0.2);
  border: 2px solid #FF0000;
}
.container {
  width: 100%;
  margin: 0 auto; /* Centers the container horizontally */
  display: flex;
}

.left-column {
  flex: 1; /* Takes up 50% of the container width */
}

.right-column {
  flex: 1; /* Takes up 50% of the container width */
}
a:link {
  /* Styles for normal, unvisited links */
}

a:visited {
  /* Styles for visited links */
}

a:hover {
  /* Styles for links on hover */
}